<header class="sticky-top">
    <!--<div class="navbar container-fluid d-flex flex-row">
        <% console.log(req.session.current_profil); %>
    
        <% if (req.session.current_profil == 1) { %>
            <a class="btn text-light rounded-circle btn-outline-light" href="/users/candidat"><i class="bi bi-house"></i></a>
        <% } else if (req.session.current_profil == 2) { %>
            <a class="btn text-light rounded-circle btn-outline-light" href="/recrut/recruteur"><i class="bi bi-house"></i></a>
        <% } %>
    
        <a class="btn text-light" href="/logout"><i class="bi bi-box-arrow-right fa-lg"></i></a>
        <p class="my-auto text-light fw-bold">LE SITE DE TOM</p>
    
        <% if (req.session.current_profil == 1) { %>
            <a class="btn btn-outline-light my-auto btn-sm" href="/users/demandes">Saisir demande</a>
            <a class="btn btn-outline-light my-auto btn-sm" href="/users/creer_orga">Créer Organisation</a>
        <% } else if (req.session.current_profil == 2) { %>

            <% } else if (req.session.current_profil == 3) { %>
            <a class="btn btn-outline-light my-auto btn-sm" href="/admin/demandes">Gérer demandes</a>
        <% } %>
    
        <% if (req.session.current_profil == 1) { %>
            <a class="btn rounded text-light" href="/users/profil_candidat"><i class="box-arrow-left"></i>Profil</a>
        <% } else if (req.session.current_profil == 2) { %>
            <a class="btn rounded text-light" href="/recrut/profil_recruteur"><i class="box-arrow-left"></i>Profil</a>
        <% } %>
    </div>-->


    <!--Je sais pas si il manque quelque chose mais j'ai l'impression que ça marche mieux si on adapte l'affichage du header
         en fonction de la route plutôt que du type d'utilisateur vu qu'on gère déjà les droits d'accès quand on charge la 
         route avec le middleware-->

    <nav id="navbar">
        <a class="h3 text-decoration-none text-light" href="<%=req.originalUrl.split('/')[1] === 'admin' ? '/admin/administrateur' : (req.originalUrl.split('/')[1] === 'recrut'? '/recrut/recruteur' : '/users/candidat') %>">
            Le site de Tom</a>
        <div class="d-flex gap-3 align-items-center">
            <% if (req.originalUrl.split('/')[1] !=='users' ){ %>
                <a class="link-light text-decoration-none" href="/users/candidat">Mode candidat</a>
                <%}%>
                <% if (req.originalUrl.split('/')[1] !=='recrut' && req.session.orga.length!=0 ){ %>
                    <a class="link-light text-decoration-none" href="/recrut/recruteur">Mode recruteur</a>
                <%}%>
                <% if (req.originalUrl.split('/')[1] !=='admin' && req.session.type>= 3 ){ %>
                    <a class="link-light text-decoration-none" href="/admin/administrateur">Mode administrateur</a>
                <%}%>
                                    <div class="dropdown">
                                        <div class="d-flex align-items-center gap-2 account" type="button" id="Menu"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <span> <%=req.session.prenom%> 
                                                <span class="text-uppercase"> <%=req.session.nom%> </span>
                                            </span>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1" stroke="currentColor" class="icon-md">
                                                <path strokeLinecap="round" strokeLinejoin="round"
                                                    d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                                            </svg>
                                        </div>

                                        <ul class="dropdown-menu" aria-labelledby="menu">
                                            <li class="d-flex align-items-baseline align-items-center">
                                                <a class="dropdown-item icon baseline gap-2" href="/users/creer_orga">
                                                    <i class="bi bi-diagram-3"></i>
                                                    <span>Créer organisation</span>
                                                </a>
                                            </li>
                                            
                                                <li class="d-flex align-items-baseline align-items-center">
                                                    <a class="dropdown-item icon baseline gap-2" href="/users/demandes">
                                                        <i class="bi bi-pencil-square"></i>

                                                        <span>Saisir demande</span>
                                                    </a>
                                                </li>
                                                <% if (req.originalUrl.split('/')[1]==='admin' || req.originalUrl.split('/')[1]==='recrut'){%>
                                                    <li class="d-flex align-items-baseline align-items-center">
                                                        <a class="dropdown-item icon baseline gap-2" href="<%=req.originalUrl.split('/')[1] === 'admin' ? '/admin/demandes' : '/recrut/demandes'%>">
                                                            <i class="bi bi-card-checklist"></i>
                                                            <span>Gérer les demandes</span>
                                                        </a>
                                                    </li>
                                                    <%}%>
                                                        <li class="d-flex align-items-baseline align-items-center">

                                                            <a class="dropdown-item icon baseline gap-2"
                                                                href="<%=req.originalUrl.split('/')[1] === 'admin' ? '/admin/profil_admin' : (req.originalUrl.split('/')[1] === 'recrut'? '/recrut/profil_recruteur' : '/users/profil_candidat') %>">
                                                                <i class="bi bi-gear"></i>
                                                                <span>Mon profil</span>
                                                            </a>

                                                        </li>
                                                        <li class="d-flex align-items-baseline align-items-center">
                                                            <a class="dropdown-item icon baseline text-danger gap-2"
                                                                href="/logout">
                                                                <i class="bi bi-box-arrow-right"></i>
                                                                Se déconnecter
                                                            </a>
                                                        </li>
                                        </ul>
                                    </div>
        </div>
    </nav>

</header>