<!DOCTYPE html>
<html lang="fr">

<%- include('./includes/head')%>

    <body>
        <%- include('./components/navbar')%>
            <div id="page-container">
                <div id="content-wrap">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-8 p-4 flex-column bg-white">
                                <h1 class="display-4 row">Demandes</h1>
                                <h1 class="display-6">Recherchez des demandes</h1>
                                                <form class="form-inline d-flex flex-row align-items-start gap-2" action="/admin/demandes" method="get">
                                                    <input type="text" class="form-control" id="mail" placeholder="...par mail" name="mail" value="<%= search.email %>">
                                                    <input type="date" class="form-control" id="date" placeholder="...par date d'inscription" name="date" value="<%= search.date %>">

                                                    <button class="btn btn-primary" type="submit">Valider</button>
                                                </form>
                                <hr>
                                <div class="row">
                                    <h3 class="display-6 mt-2">Administrateur</h3>
                                    <% if (demandeOrga.length== 0) {%>
                                        <p>Aucune demande d'administrateur à valider.</p>
                                    <%}%>
                <%- include('./components/error',{error:req.query.error}) %>

                                    <table class="table">
                                        <thead>
                                            <tr>                                                
                                                <th scope="col">Utilisateur</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Statut</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                        <% demandeAdmin.forEach((dmdA)=> { %>

                                            <tr>
                                                <td class="fw-normal">
                                                    <%= dmdA.utilisateur%>

                                                </td>
                                                <td class="fw-normal">
                                                    <%= dmdA.date.toLocaleDateString("fr") %>
                                                </td>
                                                <td class="fw-normal">
                                                    
                                                        <% if (dmdA.statut==='En attente' ) { %>
                                                            <i class="bi bi-hourglass text-primary m-2"></i>
                                                            <% } else if (dmdA.statut==='Validé' ) { %>
                                                                <i
                                                                        class="bi bi-check-lg text-success m-2"></i>
                                                                <% } else { %>
                                                                    <i
                                                                            class="bi bi-x-lg text-danger m-2"></i>
                                                                    <% } %>
                                                    <%= dmdA.statut %>


                                                </td>
                                                <td class="fw-normal">
                                                    
                                                    <a
                                                        href="/admin/demandes_admin/accept?user=<%=dmdA.utilisateur%>%>" class="text-success"><i
                                                            class="bi bi-check2-circle m-2"></i>Accepter demande</a>

                                                </td>
                                                <td class="fw-normal">
                                                    
                                                    <a
                                                        href="/admin/demandes_admin/deny?user=<%=dmdA.utilisateur%>%>" class="text-danger"><i
                                                            class="bi bi-x-lg m-2"></i>Refuser demande</a>

                                                </td>
                                            </tr>
                                            <% }) %>
                                          </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8 bg-white">
                                <hr>
                                <h3 class="display-6 mt-2">Organisations</h3>
                                
                                <% if ((demandeOrga.length> 0)&&(Array.isArray(demandeOrga))) {%>
                                    <div class="row row-cols-3">
                                        <% demandeOrga.forEach(function(dmdO) { %>
                                            <div class="col-4">

                                                <div class="card w-auto">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%= dmdO.nom%>
                                                        </h5>
                                                        <h6 class="card-subtitle mb-2 text-body-secondary" name="mail">
                                                            <%= dmdO.recruteur%>
                                                        </h6>
                                                        <p class="card-text">
                                                            <%= dmdO.type%>
                                                        </p>
                                                        <p>
                                                            Siren: <%= dmdO.siren %>
                                                        </p>
                                                        <p class="card-text">Depuis le:
                                                            <%=dmdO.date.toLocaleDateString("fr") %>
                                                        </p>
                                                        <p>
                                                        </p>
                                                        <p>
                                                                <% if (dmdO.statut==='En attente' ) { %>
                                                                    <i
                                                                            class="bi bi-hourglass text-primary m-2"></i>
                                                                    <% } else if (dmdO.statut==='Validé' ) { %>
                                                                        <i class="bi bi-check-lg text-success m-2"></i>
                                                                        <% } else { %>
                                                                            <i class="bi bi-x-lg text-danger m-2"></i>
                                                                            <% } %>
                                                            <%= dmdO.statut %>
                                                        </p>

                                                        <p>
                                                        
                                                            <a
                                                                href="/admin/demandes_orga/accept?user=<%=dmdO.recruteur%>&nom=<%=dmdO.nom%>&siren=<%=dmdO.siren%>&siege=<%=dmdO.siegeSocial%>&type=<%=dmdO.type%>" class="text-success"><i
                                                                    class="bi bi-check2-circle m-2"></i>Accepter demande</a>

                                                        </p>
                                                        <p class="fw-normal">
                                                            
                                                            <a
                                                                href="/admin/demandes_orga/deny?user=<%=dmdO.recruteur%>&siren=<%=dmdO.siren%>" class="text-danger"><i
                                                                    class="bi bi-x-lg m-2"></i>Refuser demande</a>

                                                        </p>

                                                    </div>
                                                </div>
                                            </div>

                                            <% }); %>
                                                <% } else { %>
                                                    <p>Aucune demande de création d'organisation à valider.</p>
                                                    <% }; %>

                                    </div>
                                
                            </div>
                        </div>

                    </div>
                    <div class="container-fluid">


                        <div class="row justify-content-center">
                            <div class="col-8 p-4 flex-column bg-white">
                                <h1 class="display-4 row">Historique</h1>
                                <hr>
                                <div class="row">
                                    <h3 class="display-6 mt-2">Administrateur</h3>
                                    <% if (demandeAllOrga.length== 0) {%>
                                        <p>Aucune demande d'administrateur existante.</p>
                                    <%}%>
                                    <table class="table">
                                        <thead>
                                            <tr>                                                
                                                <th scope="col">Utilisateur</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Statut</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                        <% demandeAllAdmin.forEach((dmdAA)=> { %>
                                            <tr>
                                                <td class="fw-normal">
                                                    <%= dmdAA.utilisateur%>

                                                </td>
                                                <td class="fw-normal">
                                                    <%= dmdAA.date.toLocaleDateString("fr") %>
                                                </td>
                                                <td class="fw-normal">
                                                    
                                                        <% if (dmdAA.statut==='En attente' ) { %>
                                                            <i class="bi bi-hourglass text-primary m-2"></i>
                                                            <% } else if (dmdAA.statut==='Validé' ) { %>
                                                                <i
                                                                        class="bi bi-check-lg text-success m-2"></i>
                                                                <% } else { %>
                                                                    <i
                                                                            class="bi bi-x-lg text-danger m-2"></i>
                                                                    <% } %>
                                                    <%= dmdAA.statut %>


                                                </td>
                                                <td class="fw-normal">
                                                    
                                                    <a
                                                        href="/admin/demandes_admin/accept?user=<%=dmdAA.utilisateur%>%>" class="text-success"><i
                                                            class="bi bi-check2-circle m-2"></i>Accepter demande</a>

                                                </td>
                                                <td class="fw-normal">
                                                    
                                                    <a
                                                        href="/admin/demandes_admin/deny?user=<%=dmdAA.utilisateur%>" class="text-danger"><i
                                                            class="bi bi-x-lg m-2"></i>Refuser demande</a>

                                                </td>
                                            </tr>
                                            <% }) %>
                                          </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8 bg-white">
                                <hr>
                                <h3 class="display-6 mt-2">Organisations</h3>
                                
                                <% if ((demandeAllOrga.length> 0)&&(Array.isArray(demandeAllOrga))) {%>
                                    <div class="row row-cols-3 py-2">
                                        <% demandeAllOrga.forEach(function(dmdAO) { %>
                                            <div class="col-4">

                                                <div class="card w-auto">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%= dmdAO.nom%>
                                                        </h5>
                                                        <h6 class="card-subtitle mb-2 text-body-secondary" name="mail">
                                                            <%= dmdAO.recruteur%>
                                                        </h6>
                                                        <p class="card-text">
                                                            <%= dmdAO.type%>
                                                        </p>
                                                        <p>
                                                            Siren: <%= dmdAO.siren %>
                                                        </p>
                                                        <p class="card-text">Depuis le:
                                                            <%=dmdAO.date.toLocaleDateString("fr") %>
                                                        </p>
                                                        <p>
                                                        </p>
                                                        <p>
                                                                <% if (dmdAO.statut==='En attente' ) { %>
                                                                    <i
                                                                            class="bi bi-hourglass text-primary m-2"></i>
                                                                    <% } else if (dmdAO.statut==='Validé' ) { %>
                                                                        <i class="bi bi-check-lg text-success m-2"></i>
                                                                        <% } else { %>
                                                                            <i class="bi bi-x-lg text-danger m-2"></i>
                                                                            <% } %>
                                                            <%= dmdAO.statut %>
                                                        </p>

                                                        
                                                        <p class="fw-normal">
                                                            
                                                            <a
                                                                href="/admin/demandes_orga/deny?user=<%=dmdAO.recruteur%>&siren=<%=dmdAO.siren%>" class="text-danger"><i
                                                                    class="bi bi-x-lg m-2"></i>Refuser demande</a>

                                                        </p>

                                                    </div>
                                                </div>
                                            </div>

                                            <% }); %>
                                                <% } else { %>
                                                    <p>Aucune demande de création d'organisation existante.</p>
                                                <% }; %>

                                    </div>

                                
                            </div>
                        </div>

                    </div>
                </div>

            

            <%- include('./components/footer')%>
            </div>
        </div>

    </body>

</html>