<!DOCTYPE html>
<html lang="fr">

<%- include('./includes/head')%>


    <body>

        <%- include('./components/navbar')%>

            <div id="page-container">
                <div id="content-wrap">
                    <div class="container-fluid py-3 px-4">
                        <div class="row">


                            <div class="col-3">
                            <div classe="row pb-4">
                                <div class="container">
                                    <h1 class="display-6">Recherchez des offres</h1>

                                    <form class="form-inline d-flex flex-column align-items-start gap-2" action="" method="post">
                                        
                                        <input type="text" class="form-control w-100" id="intitule"
                                                placeholder="Recherchez des offres" name="intitule" value="">
                                        
                                        <input type="text" class="form-control w-100" id="lieu" placeholder="Lieu"
                                            name="lieu" value="">

                                        <input type="text" class="form-control w-100" id="organisation"
                                            placeholder="organisation" name="organisation" value="">


                                        <input type="text" class="form-control w-100" id="type"
                                            placeholder="Type de secteur" name="type" value="">

                                        
                                            <input type="number" class="form-control w-100" id="salaire"
                                                placeholder="Salaire minimum" name="salaire" value="">
                                        

                                        
                                            <label for="statut" class="text-center">Statut</label>
                                            <select class="form-select w-auto" name="statut">
                                                
                                                <option value="" selected></option>

                                                <option value="cadre">Cadre</option>
                                                <option value="ETAM">ETAM</option>
                                                <option value="ouvrier">Ouvrier</option>
                                                <option value="stage">Stage</option>
                                                <option value="dirigeant">Dirigeant</option>

                                            </select>
                                        

                                        <button class="btn btn-primary mt-3" type="submit" name="form1"
                                            value="1">Valider</button>
                                    </form>
                                </div>
                            </div>
                            </div>
                            <div class="col-9 d-flex flex-column gap-2">
                                <%if ((listeOffre.length> 0)&&(Array.isArray(listeOffre))){%>

                                    <% listeOffre.forEach((offre)=> { %>
                                        <div class="card ">
                                            <div class="card-body g-4">
                                                <h5 class="card-title text-dark fs-3">
                                                    <%= offre.intitule %>
                                                </h5>
                                                <p class="fs-6 text-muted">Disponible jusqu'au: <%=offre.dateValidite.toLocaleDateString("fr")%></p>

                                                <h6 class="card-subtitle mb-2 text-muted">
                                                    <%= offre.nom %>
                                                </h6>
                                                <p><%=offre.statut%></p>
                                                <!--<p class="card-text text-dark">
                                                    <%= offre.description %>
                                                </p>-->
                                                <div class="d-flex flex-row gap-3 py-2 text-muted">
                                                    <div>
                                                        <i class="bi bi-building"></i>
                                                        <%=offre.type%>
                                                    </div>
                                                    <div>
                                                        <i class="bi bi-geo-alt-fill"></i>
                                                        <%=offre.lieu%>
                                                    </div>
                                                    <div>
                                                        <i class="bi bi-clock-history"></i>
                                                        <%=offre.rythme%> h/semaine
                                                    </div>
                                                    <div>
                                                        <i class="bi bi-currency-euro"></i>
                                                        <%=offre.salaire%>/mois
                                                    </div>
                                                </div>

                                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal<%=offre.numero%>">
                                                    Voir l'offre
                                                  </button>
                                                <a href="/candidature/<%=offre.numero%>" class="btn btn-primary ">Postuler</a>

                                            </div>
                                        </div>

                                        <!-- Modal à la fin mais toujours avant le footer-->
                                        <div class="modal fade" id="exampleModal<%=offre.numero%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel"> <%= offre.intitule %> </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="d-flex flex-row justify-content-between p-3">
                                                        <h6 class="modal-title" id="exampleModalLabel"> <%= offre.nom %> </h6>
                                                        <div>
                                                            <i class="bi bi-geo-alt-fill"></i>
                                                            <%=offre.lieu%>
                                                        </div>
                                                    </div>
                                                    <div class="modal-body border-bottom">
                                                        <p><%=offre.statut%></p>
                                                        <p class="card-text text-dark text-justify">
                                                            <%= offre.description %>
                                                        </p>


                                                    </div>
                                                    <div class="modal-body d-flex flex-column gap-2">
                                                        <div>
                                                            <label> Responsable: 
                                                                <%=offre.responsable%>
                                                            </label>
                                                        </div>
                                                        <div>
                                                            <i class="bi bi-building"></i>
                                                            <%=offre.type%>
                                                        </div>
                                                        <div>
                                                            <i class="bi bi-clock-history"></i>
                                                            <%=offre.rythme%> h/semaine
                                                        </div>
                                                        <div>
                                                            <i class="bi bi-currency-euro"></i>
                                                            <%=offre.salaire%>/mois
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="/candidature/<%=offre.numero%>" type="button" class="btn btn-primary">Postuler</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% })%>
                                <%}else{%>
                                    <div class="card pt-0 ">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark fs-3">
                                                Pas d'offre disponible!
                                            </h5>
                                        </div>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                    </div>

                </div>
                <%- include('./components/footer')%>

            </div>
    </body>

</html>