<!DOCTYPE html>
<html lang="fr">

<%- include('./includes/head')%>


    <body>

        <%- include('./components/navbar')%>

            <div id="page-container">
                <div id="content-wrap">
                    <div class="container-fluid py-3 px-4">
                        <div class="row">


                            <div class="col-3">
                                <div class="">
                                    <form class="form-inline d-flex flex-column align-items-start gap-2" action="" method="post">

                                        
                                            <input type="text" class="form-control" id="intitule"
                                                placeholder="Recherchez des offres" name="intitule" value="">
                                        
                                        <input type="text" class="form-control mb-2" id="lieu" placeholder="Lieu"
                                            name="lieu" value="">

                                        <input type="text" class="form-control mb-2" id="organisation"
                                            placeholder="organisation" name="organisation" value="">


                                        <input type="text" class="form-control " id="type"
                                            placeholder="Type de secteur" name="type" value="">

                                        
                                            <input type="number" class="form-control w-auto" id="salaire"
                                                placeholder="Salaire minimum" name="salaire" value="">
                                        

                                        
                                            <label for="statut" class="text-center">Statut</label>
                                            <select class="form-select w-auto" name="statut">
                                                <option value="" selected disabled>Selectionnez</option>
                                                <option value="CDI">CDI</option>
                                                <option value="CDD">CDD</option>
                                                <option value="alternance">Alternance</option>
                                                <option value="stage">Stage</option>
                                            </select>
                                        

                                        <button class="btn btn-primary mt-3" type="submit" name="form1"
                                            value="1">Valider</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-9 d-flex flex-column gap-2">
                                <%if ((listeOffre.length> 0)&&(Array.isArray(listeOffre))){%>

                                    <% listeOffre.forEach((offre)=> { %>
                                        <div class="card ">
                                            <div class="card-body g-4">
                                                <h5 class="card-title text-dark fs-3">
                                                    <%= offre.intitule %>
                                                </h5>
                                                <h6 class="card-subtitle mb-2 text-muted">
                                                    <%= offre.nom %>
                                                </h6>
                                                <p class="card-text text-dark">
                                                    <%= offre.description %>
                                                </p>

                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    Voir l'offre
                                                  </button>
                                                <a href="/candidature/<%=offre.numero%>" class="btn btn-secondary ">Postuler</a>

                                            </div>
                                        </div>

                                        <!-- Modal à la fin mais toujours avant le footer-->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel"> <%= offre.intitule %> </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h6 class="modal-title" id="exampleModalLabel"> <%= offre.nom %> </h6>
                                                        <p>SIREN: <%=offre.organisation%></p>
                                                        
                                                        <p class="card-text text-dark">
                                                            <%= offre.description %>
                                                        </p>


                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% })%>
                                <%}else{%>
                                    <div class="card pt-0 ">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark fs-3">
                                                Pas d'offre disponible!
                                            </h5>
                                        </div>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                    </div>

                </div>
                <%- include('./components/footer')%>

            </div>
    </body>

</html>