<!DOCTYPE html>
<html lang="fr">

<%- include('./includes/head')%>


    <body style="height: 100vh;" class="sidebar">

        <%- include('./components/navbar')%>

            <div id="page-container">
                <div id="content-wrap">
                    <main>
                        <section class="py-2">
                            <div class="container justify-content-center">
                                <div class="row">
                                    <div class="col-3">

                                        <div class="row pb-4">
                                            <div class="container mt-4">

                                                <form class="form-inline" action="" method="post">
                                                    <div class="form-group  mb-3 d-flex flex-row">
                                                        <input type="text" class="form-control" id="intitule"
                                                            placeholder="Recherchez des offres" name="intitule" value="">
                                                    </div>
                                                    <input type="text" class="form-control mt-2" id="lieu"
                                                        placeholder="Lieu" name="lieu" value="">
                                                    <input type="text" class="form-control mt-2" id="organisation"
                                                        placeholder="organisation" name="organisation" value="">
                                                    <div class="d-flex mt-2">
                                                        <input type="text" class="form-control mt-2" id="type"
                                                        placeholder="Type de secteur" name="type" value="">
                                                    <div class="d-flex mt-2">
                                                    </div>
                                                    <div class="d-flex mt-2">
                                                        <input type="number" class="form-control mt-2" id="salaire"
                                                        placeholder="Salaire minimum" name="salaire" value="">
                                                    </div>
                                                    <div class="d-flex mt-2">
                                                        <p class="text-center my-auto me-2">Statut</p>
                                                        <select class="form-select" name="statut">
                                                            <option value="" selected>Selectionnez</option>
                                                            <option value="CDI">CDI</option>
                                                            <option value="CDD">CDD</option>
                                                            <option value="alternance">Alternance</option>
                                                            <option value="stage">Stage</option>
                                                        </select>
                                                    </div>

                                                    <button class="btn btn-primary mt-3" type="submit" name="form1" value="1">Valider</button>

                                                </form>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            <div class="col-9 gy-4">
                                <%if ((listeOffre.length > 0)&&(Array.isArray(listeOffre))){%>
                                    <%console.log("putain", listeOffre)%>
                                    <% listeOffre.forEach((offre)=> { %>
                                        <div class="card mb-4 pt-0 " style="width: autorem;">
                                            <div class="card-body g-4">
                                                <h5 class="card-title text-dark fs-3">
                                                    <%= offre.intitule %>
                                                </h5>
                                                <h6 class="card-subtitle mb-2 text-muted">
                                                    <%= offre.nom %>
                                                </h6>
                                                <p class="card-text text-dark">
                                                    <%= offre.description %>
                                                </p>
                                                <a href="#" class="btn btn-secondary">Voir l'offre</a>
                                                <a href="#" class="btn btn-secondary ">Postuler</a>
                                            </div>
                                        </div>
                                        <% })%> 
                                <%}else{%>
                                    <div class="card mb-4 pt-0 " style="width: autorem;">
                                        <div class="card-body g-4">
                                            <h5 class="card-title text-dark fs-3">
                                                Pas d'offre disponible!
                                            </h5>
                                            
                                        </div>
                                    </div> 
                                <%}%>
                                        

                                    
                           
                            
                            </div>
                        
                        </section>

                    </main>

                </div>

                <%- include('./components/footer')%>

            </div>
    </body>

</html>