<!DOCTYPE html>
<html lang="fr">

<%- include('./includes/head')%>


    <body>

        <%- include('./components/navbar')%>

            <div id="page-container">
                <div id="content-wrap" class="bg-light">

                    <section>
                        <div class=" d-flex flex-row justify-content-center">
                            <div class="col-8 p-4 flex-column bg-white">
                                <h1 class="display-4">Faire une demande</h1>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        <h3 class="display-6">Recruteur</h3>
                                        <form action="/users/demandes/recruteur" method="POST">

                                            <p>Sélectionnez l'organisation pour laquelle vous souhaitez devenir
                                                recruteur. <br> <br> Les demandes sont soumises à la validation des
                                                recuteurs de l'organisation.</p>

                                            <div class="form-group">
                                                <%if(organisation.length >0){%>
                                                <select class="form-control" title="Choisir une organisation ..."
                                                    name="choix">
                                                    <% organisation.forEach((orga)=> { %>
                                                        <option value="<%= orga.siren %>">
                                                            <%= orga.nom %>
                                                        </option>
                                                        <% }); %>

                                                </select>
                                                <% }; %>
                                            </div>


                                            <button class="btn btn-primary mt-3" type="submit">Envoyer demande</button>
                                        </form>
                                    </div>
                                    <div class="col-6">
                                        <h3 class="display-6">Administrateur</h3>

                                        <p>Les demandes d'administration sont soumises à la validation des
                                            administrateurs.</p>
                                        <form method="POST" action="/users/demandes/admin">
                                            <% if (demandeAdmin.length == 0) { %>

                                            <button class="btn btn-primary mt-3" type="submit"> Envoyer
                                                demande</button>
                                            <%} else{ %>
                                                <small class="text-danger"> Vous avez déjà saisi une demande en cours de traitement ou acceptée/refusée.</small> <br>
                                                <button class="btn btn-primary mt-3" type="submit" disabled> Envoyer
                                                    demande</button>
                                            <%} %>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class=" d-flex flex-row justify-content-center">
                            <div class="col-8 p-4 flex-column bg-white">
                                <h1 class="display-4">Mes demandes</h1>
                                <hr>

                                <div>
                                    <h3 class="display-6">Recruteur</h3>
                                    <form action="/users/demandes/recruteurSupp" method="POST" >
                                    <table class="table ">
                                        <% if (Array.isArray(demandeRecrut)) { %>
                                            <thead>
                                                <tr >
                                                    <th scope="col">Nom</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Statut</th>
                                                    <th scope="col"></th>
                                                  
                                                </tr>
                                              </thead>
                                            <% demandeRecrut.forEach((dmd)=> { %>
                                                <tbody>
                                                <tr>
                                                    <td class="fw-normal">
                                                        <% for(var i=0; i < organisation.length; i++){
                                                            if(organisation[i].siren==dmd.organisation){ %>
                                                            <%= organisation[i].nom %>
                                                                <%} } %>
                                                    </td>

                                                    <td class="fw-normal ">
                                                        <%= dmd.date.toLocaleDateString("fr") %>
                                                    </td>
                                                    <td class="fw-normal">
                                                            <% if (dmd.statut==='En attente' ) { %>
                                                                <i class="bi bi-hourglass text-primary me-2"></i>
                                                                <% } else if (dmd.statut==='Validé' ) { %>
                                                                    <i class="bi bi-check-lg text-success me-2"></i>
                                                                    <% } else { %>
                                                                        <i class="bi bi-x-lg text-danger me-2"></i>
                                                                        <% } %>
                                                            <%= dmd.statut %>

                                                    </td>

                                                    <td class="fw-normal">
                                                        
                                                        <a href="/users/demandes/recruteurSupp/<%= dmd.organisation%>" class="btn pe-0 text-primary" name="supp"><i class="bi bi-x-lg me-2"></i>Supprimer demande </a>

                                                    </td>

                                                </tr>
                                            <% }); %>
                                                </tbody>
                                        <% }else{ %>
                                            <p>Vous n'avez pas enregistré de demande.</p>
                                        <%}%>
                                        
                                    </table>
                                </form>
                                </div>
                                <div>
                                    <h3 class="display-6 mt-2">Administrateur</h3>
                                    <form action="/users/demandes/adminSupp" method="POST" >

                                    <table class="table">
                                    <%if (demandeAdmin.length>0){%>
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Statut</th>
                                                <th scope="col"></th>
                                              
                                            </tr>
                                          </thead>
                                        <% demandeAdmin.forEach((dmdA)=> { %>
                                        <tbody>
                                            <tr>

                                                <td class="fw-normal">
                                                    <%= dmdA.date.toLocaleDateString("fr") %>
                                                    <input type="hidden" name="dmdA_date" value="<%= dmdA.date %>">
                                                </td>
                                                <td class="fw-normal">
                                                    <% if (dmdA.statut==='En attente' ) { %>
                                                        <i class="bi bi-hourglass text-primary me-2"></i>
                                                        <% } else if (dmdA.statut==='Validé' ) { %>
                                                            <i class="bi bi-check-lg text-success me-2"></i>
                                                            <% } else { %>
                                                                <i class="bi bi-x-lg text-danger me-2"></i>
                                                                <% } %>
                                                    <%= dmdA.statut %>
                                                        

                                                </td>
                                                <td class="fw-normal">
                                                    <a href="/users/demandes/adminSupp"><i
                                                            class="bi bi-x-lg me-2"></i>Supprimer demande 
                                                        </a>

                                                </td>
                                            </tr>
                                            <% }) %>
                                        </tbody>
                                    <% }else{ %>
                                        <p>Vous n'avez pas enregistré de demande.</p>
                                    <%}%>
                                    </table>
                                    </form>

                                </div>


                            </div>
                        </div>
                    </section>
                </div>

                <%- include('./components/footer')%>

            </div>


    </body>

</html>