<!DOCTYPE html>
<html lang="fr">

<%- include('./includes/head')%>


    <body>

        <%- include('./components/navbar')%>

        <div id="page-container">
            <div id="content-wrap">

                <section>
                    <div class=" d-flex justify-content-center">
                        <div class="col-8 p-4 flex-column">
                            <h1 class="display-4">Faire une demande</h1>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="display-6">Recruteur</h3>
                                    <form action="/recrut/demandes" method="POST">

                                        <p>Sélectionnez l'organisation pour laquelle vous souhaitez devenir
                                            recruteur. <br> <br> Les demandes sont soumises à la validation des
                                            recuteurs de l'organisation.</p>

                                        <div class="form-group">
                                            <select class="form-control" title="Choisir une organisation ..." name="choix">
                                                <% organisation.forEach((orga)=> { %>
                                                <option value="<%= orga.siren %>"><%= orga.nom %></option>
                                                <% }) %>
                                                
                                            </select>
                                        </div>


                                        <button class="btn btn-primary mt-3" type="submit" name="form1">Envoyer
                                            demande</button>
                                    </form>
                                </div>
                                <div class="col-6">
                                    <h3 class="display-6">Administrateur</h3>

                                    <p>Les demandes d'administration sont soumises à la validation des
                                        administrateurs.</p>
                                    <form method="POST">
                                        <button class="btn btn-primary mt-3" type="submit" name="form2"> Envoyer demande</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class=" d-flex justify-content-center">
                        <div class="col-8 p-4 flex-column">
                            <h1 class="display-4">Mes demandes</h1>
                            <hr>
                            
                            <div class="row">
                                <h3 class="display-6">Recruteur</h3>
                                <table >
                                    <% demandeRecrut.forEach((dmd)=> { %>
                                    <tr class="list-group-item d-flex justify-content-between align-items-center">
                                        <th class="fw-normal w-auto">
                                            <%
                                            for(var i = 0; i < organisation.length; i++){
                                                if(organisation[i].siren==dmd.organisation){ %>
                                                    <%= organisation[i].nom %>
                                                <%}
                                            }
                                            %>
                                        </th>
                                    
                                        <th class="fw-normal w-auto">
                                            <%= dmd.date.toLocaleDateString("fr") %>
                                        </th>
                                        <th class="fw-normal w-auto">
                                            <%= dmd.statut  %>
                                            <% if (dmd.statut === 'En attente') { %>
                                                <button class="btn btn-circle rounded-circle bg-primary"><i class="bi bi-hourglass text-light"></i></button>
                                              <% } else if (dmd.statut === 'Validé') { %>
                                                <button class="btn btn-circle rounded-circle bg-success"><i class="bi bi-check-lg text-light"></i></button>
                                              <% } else { %>
                                                <button class="btn btn-circle rounded-circle bg-danger"><i class="bi bi-x-lg text-light"></i></button>
                                              <% } %>
                                        </th>
                                    </tr>
                                    <% }) %>
                                </table>
                            </div>
                        <div class="row">
                            <h3 class="display-6 mt-2">Administrateur</h3>
                            <table>
                                <% demandeAdmin.forEach((dmdA)=> { %>
                                <tr class="list-group-item d-flex justify-content-between align-items-center">
                                    <th class="fw-normal">
                                        <%= dmdA.date.toLocaleDateString("fr") %>
                                    </th>
                                    <th class="fw-normal">
                                        <%= dmdA.statut %>
                                        <button class="btn btn-circle rounded-circle bg-primary"><i class="bi bi-hourglass text-light"></i></button>

                                    </th>
                                </tr>
                            <% }) %>
                            </table>
                           
                        </div>
                    

                        </div>
                    </div>
                </section>
            </div>
        
            <%- include('./components/footer')%>
        
        </div>


    </body>

</html>