<!DOCTYPE html>
<html lang="fr">

<%- include('./includes/head')%>

<body>
<%- include('./components/navbar')%>
<div id="page-container">
    <div id="content-wrap">

        <div class="container">
            <h2>Liste des candidats</h2>

            <% candidats.forEach((candidat) => { %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= candidat.nom %> <%= candidat.prenom %></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Pièces de candidature :</h6>
                        <ul>
                            <% candidat.pieces.forEach((piece) => { %>
                                <li><%= piece %></li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            <% }) %>
        </div>
        
    </div>
    </div>
        
    <%- include('./components/footer')%>

</div>

</body>
</html>