<!DOCTYPE html>
<html lang="fr">

<%- include('./includes/head')%>

    <body style="height: 100vh;">

        <%- include('./components/navbar')%>
            <div id="page-container">
                <div id="content-wrap">
                    <main>
                        <div class="container-fluid py-2">
                            <div class="row">
                                <div class="col-3 d-flex flex-column border-end  p-3">

                                    <div class="card w-100">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= user.prenom %>
                                                    <%= user.nom %>
                                            </h5>
                                        </div>
                                        <ul class="list-group list-group-flush list-unstyled p-2">
                                            <li class="">
                                                <%= user.mail %>
                                            </li>
                                            <li class="">
                                                <%= user.telephone %>
                                            </li>
                                            <li class='<%= (user.statut==1) ? "text-success" : "text-danger" %>'>
                                                <%= (user.statut==1) ? "Actif" : "Inactif" %>
                                            </li>

                                            <li>Depuis le: <%= user.dateCreation.toLocaleDateString("fr") %>
                                            </li>
                                        </ul>


                                    </div>

                                    <div class="py-2">
                                        <a href="/users/modifier_profil" class="btn btn-secondary mb-2">Modifier mon
                                            profil</a> <br>
                                        
                                    </div>
                                    

                                </div>
                                <div class="col-9 p-3">

                                    <div class="rounded p-2 bg-light" id="candidatures">
                                        <h1 class="display-4">Mes candidatures <i class="bi bi-file-earmark-person fa-1x me-2"></i></h1>
                                        <hr class="my-4">
                                        <% if(candidatures.length>0){%>
                                        <% candidatures.forEach((candidature)=> { %>
                                            <%console.log(candidature)%>                                            
                                            <div class="card mb-4 pt-0 " style="width: autorem;">
                                                <div class="card-body g-4">
                                                    <h5 class="card-title text-dark fs-3">
                                                        <%= candidature.intitule %>
                                                    </h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">
                                                        <%= candidature.statut %>
                                                    </h6>
                                                    <p class="card-text text-dark">
                                                        <%= candidature.description %>
                                                    </p>
                                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal<%=candidature.numero%>">
                                                        Voir l'offre
                                                    </button>
                                                    <% if(candidature.etatC==1){%>
                                                    <a href="#" class="btn btn-secondary ">Acceptée</a>
                                                    <%}else if(candidature.etatC==2){%>
                                                        <a href="#" class="btn btn-secondary red">Refusée</a>
                                                    <%}else{%>
                                                        <a href="/candidature/modifier_candidature/<%=candidature.numero%>" class="btn btn-secondary ">Modifier candidature</a>
                                                    <%}%>
                                                    <a href="/candidature/supp/<%=candidature.numero%>" class="btn btn-secondary ">Supprimer candidature</a>

                                                </div>
                                            </div>
                                            <!-- Modal à la fin mais toujours avant le footer-->
                                            <div class="modal fade" id="exampleModal<%=candidature.numero%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel"> <%= candidature.intitule %> </h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between p-3">
                                                            <h6 class="modal-title" id="exampleModalLabel"> <%= candidature.nom %> </h6>
                                                            <div>
                                                                <i class="bi bi-geo-alt-fill"></i>
                                                                <%=candidature.lieu%>
                                                            </div>
                                                        </div>
                                                        <div class="modal-body border-bottom">
                                                            <p class="card-text text-dark text-justify">
                                                                <%= candidature.statut%>
                                                            </p>
                                                            <p class="card-text text-dark text-justify">
                                                                <%= candidature.description %>
                                                            </p>


                                                        </div>
                                                        <div class="modal-body d-flex flex-column gap-2">
                                                            <div>
                                                                <label> Responsable: 
                                                                    <%=candidature.responsable%>
                                                                </label>
                                                            </div>
                                                            <div>
                                                                <i class="bi bi-building"></i>
                                                                <%=candidature.type%>
                                                            </div>
                                                            <div>
                                                                <i class="bi bi-clock-history"></i>
                                                                <%=candidature.rythme%> h/semaine
                                                            </div>
                                                            <div>
                                                                <i class="bi bi-currency-euro"></i>
                                                                <%=candidature.salaire%>/mois
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                            <%}else{%>
                                                <p>Vous n'avez pas enregistré de candiatures.</p>
                                            <%}%>

                                    </div>
                                </div>


                            </div>
                        </div>
                        
                    </main>
                </div>
                <%- include('./components/footer')%>

            </div>

    </body>

</html>