<!DOCTYPE html>
<html lang="fr">

<%- include('./includes/head')%>

    <body style="height: 100vh;">

        <%- include('./components/navbar')%>
            <div id="page-container">
                <div id="content-wrap">
                    <main>
                        <section class="py-4">
                            <div class="row me-0 pe-1">
                                <div class="col-3 d-flex flex-column border-end align-items-start">

                                    <div class="card w-auto ms-4">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= user.prenom %>
                                                    <%= user.nom %>
                                            </h5>
                                        </div>
                                        <ul class="list-group list-group-flush list-unstyled p-3">
                                            <li class="">
                                                <%= user.mail %>
                                            </li>
                                            <li class="">
                                                <%= user.telephone %>
                                            </li>
                                            <li class='<%= (user.statut==1) ? "text-dark" : "text-danger" %>'>
                                                <%= (user.statut==1) ? "Actif" : "Inactif" %>
                                            </li>

                                            <li>Depuis le: <%= user.dateCreation.toLocaleDateString("fr") %>
                                            </li>
                                        </ul>


                                    </div>
                                    <a href="/users/modifier_profil" class="btn btn-link m-4 ps-0">Modifier mon
                                        profil</a>
                                    <%if(user.type==3){%>
                                        <a href="/users/modifier_profil" class="btn btn-link m-4 ps-0">Profil recruteur</a>
                                    <%}%>

                                </div>
                                <div class="col-9 h-100 ">

                                    <div class="jumbotron bg-light p-2" id="candidatures">
                                        <h1 class="display-4">Mes candidatures <i
                                                class="bi bi-file-earmark-person fa-1x me-2"></i></h1>
                                        <hr class="my-4">

                                        <% candidatures.forEach((candidature)=> { %>
                                            <div class="card mb-4 pt-0 " style="width: autorem;">
                                                <div class="card-body g-4">
                                                    <h5 class="card-title text-dark fs-3">
                                                        <%= candidature.intitule %>
                                                    </h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">
                                                        <%= candidature.statut %>
                                                    </h6>
                                                    <p class="card-text text-dark">
                                                        <%= candidature.description %>
                                                    </p>
                                                    <a href="#" class="btn btn-secondary">Voir l'offre</a>
                                                    <a href="#" class="btn btn-secondary ">Modifier candidature</a>
                                                </div>
                                            </div>
                                            <% }) %>

                                    </div>
                                </div>


                            </div>
                        </section>


                    </main>
                </div>
                <%- include('./components/footer')%>

            </div>

    </body>

</html>