<!DOCTYPE html>
<html lang="fr">

<%- include('./includes/head')%>


    <body style="height: 100vh;" class="sidebar">

        <%- include('./components/navbar')%>

            <div id="page-container">
                <div id="content-wrap">
                    <main>
                        <section class="py-2">
                            <div class="container justify-content-center">
                                <div class="row">
                                    <div class="col-3">

                                        <div class="row pb-4">
                                            <div class="container mt-4">

                                                <a href="/recrut/creer_offre" class="btn btn-link m-4 ps-0">Créer une offre</a>
                                                
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-9 gy-4">
                                        <%if (Array.isArray(listeOffre)){%>
                                            <% listeOffre.forEach((offre)=> { %>
                                                <div class="card mb-4 pt-0 " style="width: autorem;">
                                                    <div class="card-body g-4">
                                                        <h5 class="card-title text-dark fs-3">
                                                            <%= offre.intitule %>
                                                            <%if (offre.etat=='non publiee'){%>
                                                                <%= offre.etat %> 
                                                            <%}%>
                                                        </h5>
                                                        <h6 class="card-subtitle mb-2 text-muted">
                                                            <%= offre.nom %>
                                                        </h6>
                                                        <p class="card-text text-dark">
                                                            <%= offre.description %>
                                                        </p>
                                                        <a href="#" class="btn btn-secondary">Voir candidats</a>
                                                        <a href="recrut/editer_offre/<%= offre.numero%>" class="btn btn-secondary">Editer l'offre</a>
                                                        <a href="recrut/supp_offre/<%= offre.numero%>" class="btn btn-secondary ">Supprimer</a>
                                                    </div>
                                                </div>
                                                <% })%> 
                                        <%}else{%>
                                            <div class="card mb-4 pt-0 " style="width: autorem;">
                                                <div class="card-body g-4">
                                                    <h5 class="card-title text-dark fs-3">
                                                        Pas d'offre disponible!
                                                    </h5>
                                                    
                                                </div>
                                            </div> 
                                        <%}%>
                                        

                                    </div>
                                </div>
                            </div>
                        </section>

                    </main>

                </div>

                <%- include('./components/footer')%>

            </div>
    </body>

</html>