<!DOCTYPE html>
<html lang="fr">
<%- include('./includes/head')%>

    <body>

        <div id="page-container">
            <%- include('./components/navbar')%>

                <div id="content-wrap">
                    <section">
                        <h1>
                            <%= title %>
                        </h1>
                        <table border>
                            <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach((user)=> { %>
                                    <tr>
                                        <td>
                                            <%= user.prenom %>
                                        </td>
                                        <td>
                                            <%= user.nom %>
                                        </td>
                                        <td>
                                            <%= user.email %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </section>
                    <section>
                        <table border>
                            <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach((user)=> { %>
                                    <tr>
                                        <td>
                                            <%= user.prenom %>
                                        </td>
                                        <td>
                                            <%= user.nom %>
                                        </td>
                                        <td>
                                            <%= user.email %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </section>
                    <section>
                        <table border>
                            <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach((user)=> { %>
                                    <tr>
                                        <td>
                                            <%= user.prenom %>
                                        </td>
                                        <td>
                                            <%= user.nom %>
                                        </td>
                                        <td>
                                            <%= user.email %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </section>
                    <section>

                        <table border>
                            <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach((user)=> { %>
                                    <tr>
                                        <td>
                                            <%= user.prenom %>
                                        </td>
                                        <td>
                                            <%= user.nom %>
                                        </td>
                                        <td>
                                            <%= user.email %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </section>
                </div>
                <footer id="footer">
                    Footer
                </footer>
        </div>
    </body>

</html>